*{
    margin: 0px;
    padding: 0px;
}

.social-bt{
 border-radius: 5px;
 background-color: rgb(215, 214, 214);
 width: 50px;
 margin-top: 250px;
 margin-left: 5px;
 justify-content: space-evenly;
}


 

.social-bt img ,li{
    width: 30px;
    height: 30px;
    margin:5px 0px;
    text-decoration: none;
    display: flex;
    height: fit-content;
    box-sizing: border-box;
    

}
.social-bt img {
    display: flex;
}
   
.nav-sec a{
       text-decoration: none;
       font-size: 1.5em;

}
.container-nav{
    display: flex;
}
.btn-head button{
    font-size: 1.5em;
    border-radius: 3px;
    border: 2px solid red;
}